/* FONT DEFINITION */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* BODY AND TITLE STYLING */
body {
    background-image: url(Library.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px coral;
    padding: 2rem 0 4rem 0;
}

/* FORM CONTAINER LAYOUT */
.formContainer {
    display: flex;
    align-items: center;
}

/* BUTTON STYLING */
.addBook {
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    outline: none;
    padding: 1rem 2rem;
    margin: 2rem auto;
    transition: 0.3s ease-in-out;
}

.addBook:hover {
    background-color: coral;
}

/* MODAL STYLING */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.content {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    opacity: 0.9;
    width: 100%;
    height: 400px;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

/* MODAL ANIMATIONS */
@keyframes slideIn {
    from{bottom: -300px; opacity: 0;}
    to{bottom: 0; opacity: 0.9;}
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

/* MODAL HEADER STYLING */
.header {
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding: 0 20px;
}

.header h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.closeBtn {
    font-weight: 6rem;
    font-weight: bold;
    cursor: pointer;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
}